<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="factory" class="org.example.RoboFactory">
        <constructor-arg index="0" name="roboProductionLine" ref = "cleaner_prod_line"/>
        <constructor-arg index="1" name="productionSize" value="2"/>
    </bean>

    <bean id="cleaner_prod_line" class="org.example.CleanerRobotProdLine"/>
    <bean id="delivery_prod_line" class="org.example.DeliveryRobotProdLine"/>
</beans>